*{
     padding: 0;
     margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    min-height: 56px;
}
.left img {
    width: 42px;
    height: 30px;
}
nav {
    padding: 1em 0;
}
nav ul li {
    list-style: none;
    padding: 0 1em;
    font-weight: bolder;
    cursor: pointer;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
input.input {
    width: 22vw;
    padding: 0.3em 0px;
    padding-left: 0.6em;
    border-radius: 14px;
    border: 0.5px solid grey;
    background: #f5f2f2;
}
.input:active{
      background-color: white;
}
.profile,.wishlist,.bag {
          font-weight: bolder;
          cursor: pointer;
}
.homeimg{
    width: 80vw;
    margin: 0.2rem 0;
}
.itemimg{
    width: 10vw;
    margin: 0.4rem 0.2rem;
}
footer{
    text-align: center;
    padding: 1em 0;
}
.burger{
   display: none;
}
.bar{
    display: block;
    width: 20px;
    height: 3px;
    margin: 4px 10px;
    background-color: black;
}
@media (max-width:915px)
{
    .burger{
        display: block;
    }
    .nav-item{
        position: fixed;
        left: -100%;
        top: 70px;
        background-color: white;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .nav-item li {
        margin: 5px 0;
    }
    .nav-item.active{
        left: 0;
    }
    input.input{
        width: 19vw;
    }
}